body {
    margin: 0;
    overflow: hidden;
}

.container {
    display: grid;
    border: 1px solid blue;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
}

.grid-item {
    border: 1px solid red;
}

#sideimage {
    grid-area: 1 / 1 / 4;
    background-image: url(./imgs/sideimage.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}